body{

font-family:
Arial;

background:
#f5f7fb;

text-align:
center;

padding:
40px;

}

h1{

color:
#2563eb;

}

p{

color:
#444;

}

input{

padding:
10px;

margin:
20px;

}

button{

background:
#2563eb;

color:
white;

border:
none;

padding:
12px 20px;

border-radius:
10px;

font-size:
16px;

cursor:
pointer;

}

button:hover{

opacity:
0.9;

}

#estado{

margin-top:
20px;

font-weight:
bold;

}
progress{

width:300px;

height:20px;

}

#porcentaje{

font-size:18px;

font-weight:bold;

}
.oscuro{

background:#121212;

color:white;

}

.oscuro button{

background:#2563eb;

color:white;

}

.oscuro p{

color:#ddd;

}
#tiempo{

font-size:18px;

margin-top:10px;

}